[lint]
select = ["E", "F", "I", "N", "W", "UP"]
ignore = []

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false

[lint.per-file-ignores]
"**/__init__.py" = ["F401", "N999"]
